mixin bigButton(anchor, text)
  if anchor
    button.btn.btn-elcg-lg(type="button", class=attributes.class, id=attributes.id)
      a(href=anchor)
        span= text

  else
    button.btn.btn-elcg-lg(type="button", class=attributes.class, id=attributes.id)
      span= text
