mixin caseStudyBlock(href, imgSrc, title, tags)
  if href
    a.gig(href=href, target="_blank")
      .row
        .col-md-6
          img.img-responsive(src=imgSrc)

        .col-md-6
          .copy
            h2= title
            p.categories= tags.join(" / ")
            hr
            if block
              block

            if href
              p.hint Click to visit site
  else
    .gig
      .row
        .col-md-6
          img.img-responsive(src=imgSrc)

        .col-md-6
          .copy
            h2= title
            p.categories= tags.join(" / ")
            hr
            if block
              block

            if href
              p.hint Click to visit site

        //button.reveal.btn-elcg.btn.cta Click to see more&hellip;
